# base url of the api
API_BASE_URL=

# deadline for the application in milliseconds
APPLICATION_DEADLINE=

# oauth client id and redirect uri
OAUTH_CLIENT_ID=
OAUTH_REDIRECT_URI=

# session
SESSION_SECRET=

# landing page url
LANDING_PAGE_URL=


# recaptcha site key
RECAPTCHA_SITE_KEY=