@import "../mixins";

.react-tooltip-lite {
  background: var(--color-text);
  color: var(--color-bg-alt);
  padding: 0.5rem !important;
  text-align: center;
  border-radius: 0.25rem;
}

.react-tooltip-lite-arrow {
  border-color: var(--color-text);
}

div.kz-login {
  min-height: 90vh;
  display: flex;
  flex-direction: column;

  .row {
    margin: 0 auto !important;
  }

  .container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    @include fluid-type(2.5rem, 4rem, $min-width, $max-width);
    @include for-mobile-only {
      margin: 0 2rem;
      text-align: center;
    }
    position: relative;
    span.lottie {
      position: absolute;
      right: 6.5rem;
      top: 2rem;
    }
  }

  .srmkzilla-sign-in {
    @include BoxShadow();
    cursor: not-allowed;
  }

  div.kz-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  div.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    div.login-button {
      @include BoxShadow();
      cursor: pointer;
      box-sizing: border-box;
      font-size: 18px;
      height: 70px;
      width: 258px;
      max-width: 70vw;
      background-color: white;
      color: black;
      border-radius: 8px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      img {
        width: 32px;
        height: 32px;
      }

      p {
        margin-left: 0.75rem;
        text-align: center;
      }
    }
  }
}
