@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@font-face {
  font-family: "Caros";
  src: url("../../../assets/fonts/CarosLight.woff2") format("woff2"), url("../../../assets/fonts/CarosLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caros";
  src: url("../../../assets/fonts/CarosBold.woff2") format("woff2"), url("../../../assets/fonts/CarosBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caros";
  src: url("../../../assets/fonts/CarosMedium.woff2") format("woff2"), url("../../../assets/fonts/CarosMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caros";
  src: url("../../../assets/fonts/Caros.woff2") format("woff2"), url("../../../assets/fonts/Caros.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
div.kz-task-project {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--color-text-alt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-alt);
  border-radius: 0.75rem;
  font-family: "Caros", sans-serif;
}
div.kz-task-project div.not-found {
  width: 100%;
  padding: 2rem 8rem;
  text-align: center;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-task-project div.not-found {
    padding: 4rem;
  }
}
div.kz-task-project div.not-found img {
  max-width: 80%;
  height: auto;
}
div.kz-task-project div.not-found p {
  font-size: calc(
    0.75rem + 0.25 * ((100vw - 420px) / 480)
  );
  margin-top: 2rem;
}
@media screen and (max-width: 420px) {
  div.kz-task-project div.not-found p {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 900px) {
  div.kz-task-project div.not-found p {
    font-size: 1rem;
  }
}
div.kz-task-project div.not-found small {
  font-size: calc(
    0.5rem + 0.25 * ((100vw - 420px) / 480)
  );
}
@media screen and (max-width: 420px) {
  div.kz-task-project div.not-found small {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 900px) {
  div.kz-task-project div.not-found small {
    font-size: 0.75rem;
  }
}
div.kz-task-project div.kz-task-project-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  padding-bottom: 4rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-task-project div.kz-task-project-wrapper {
    padding: 1rem;
    padding-bottom: 4rem;
  }
}
div.kz-task-project div.kz-task-project-wrapper::-webkit-scrollbar {
  width: 0.2rem;
  height: 1rem;
}
div.kz-task-project div.kz-task-project-wrapper::-webkit-scrollbar-track {
  margin: 0;
  margin-right: 0.5rem;
}
div.kz-task-project div.kz-task-project-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-text-alt);
  border-radius: 0.1rem;
}
div.kz-task-project div.kz-task-project-wrapper::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}
div.kz-task-project div.kz-task-project-wrapper div.kz-project-title {
  font-family: "Caros", sans-serif;
}
div.kz-task-project div.kz-task-project-wrapper div.kz-project-title > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.kz-task-project div.kz-task-project-wrapper div.kz-project-title > div span {
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  background-color: #ff644e;
  border-radius: 0.25rem;
  font-size: 0.7rem;
}
div.kz-task-project div.kz-task-project-wrapper div.kz-project-title h5 {
  font-size: calc(
    0.75rem + 0.25 * ((100vw - 420px) / 480)
  );
  font-weight: 300;
}
@media screen and (max-width: 420px) {
  div.kz-task-project div.kz-task-project-wrapper div.kz-project-title h5 {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 900px) {
  div.kz-task-project div.kz-task-project-wrapper div.kz-project-title h5 {
    font-size: 1rem;
  }
}
div.kz-task-project div.kz-task-project-wrapper div.kz-project-title h5 span {
  color: #ff644e;
}
div.kz-task-project div.kz-task-project-wrapper div.kz-project-title h2 {
  font-size: calc(
    1rem + 1 * ((100vw - 420px) / 480)
  );
  font-weight: 500;
}
@media screen and (max-width: 420px) {
  div.kz-task-project div.kz-task-project-wrapper div.kz-project-title h2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 900px) {
  div.kz-task-project div.kz-task-project-wrapper div.kz-project-title h2 {
    font-size: 2rem;
  }
}
div.kz-task-project div.kz-task-project-wrapper div.kz-task div.kz-task-list {
  width: 100%;
  min-height: 8rem;
}
div.kz-task-project div.kz-task-project-wrapper div.kz-task div.kz-task-list.clickDisabled {
  pointer-events: none;
}
div.kz-task-project div.kz-task-project-wrapper div.kz-task div.kz-task-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  justify-content: space-between;
  border-bottom: 0.01rem solid #f1f1f1;
}
div.kz-task-project div.kz-task-project-wrapper div.kz-task div.kz-task-title svg {
  width: 2rem;
  transform: scale(1.5);
  margin: auto 0;
}
div.kz-task-project div.kz-add-task {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-text);
  padding: 1rem 0;
  border-radius: 0.75rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
div.kz-task-project div.kz-add-task div.check-icon {
  border: 0.1rem solid #f1f1f1;
  background-color: #fafafa;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0.25rem;
  margin: auto 0.5rem;
}
div.kz-task-project div.kz-add-task div.check-icon svg {
  opacity: 0;
}
div.kz-task-project div.kz-add-task div.check-icon.active {
  background-color: #ff644e;
  border: none;
}
div.kz-task-project div.kz-add-task div.check-icon.active svg {
  opacity: 1;
  margin: auto;
  fill: var(--color-bg);
}
div.kz-task-project div.kz-add-task input {
  flex-grow: 1;
  height: 2rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0 1rem;
  outline: none;
  margin: auto 0.5rem;
}
div.kz-task-project div.kz-add-task button {
  margin: auto 0.5rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  background-color: #ff644e;
  cursor: pointer;
}
div.kz-task-project div.kz-add-task button svg {
  fill: var(--color-bg);
  transform: scale(1.6) translateX(0.5px) translateY(1px);
  margin: auto;
}

/*# sourceMappingURL=Task.css.map */
