@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@font-face {
  font-family: "Caros";
  src: url("../../../assets/fonts/CarosLight.woff2") format("woff2"), url("../../../assets/fonts/CarosLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caros";
  src: url("../../../assets/fonts/CarosBold.woff2") format("woff2"), url("../../../assets/fonts/CarosBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caros";
  src: url("../../../assets/fonts/CarosMedium.woff2") format("woff2"), url("../../../assets/fonts/CarosMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caros";
  src: url("../../../assets/fonts/Caros.woff2") format("woff2"), url("../../../assets/fonts/Caros.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
div.kz-ticker-list {
  position: relative;
  width: 100%;
  pointer-events: none;
}
div.kz-ticker-list div.styles_ticker__8iZE9 {
  background-color: var(--color-bg);
}
div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7 {
  color: var(--color-text);
}
div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7 div.styles_newsWrapper__3hmjW div.styles_title__24Ef9 {
  font-size: calc(
    1rem + 1 * ((100vw - 420px) / 480)
  );
  font-weight: 700;
  -webkit-text-stroke: 1px var(--color-text);
  -webkit-text-fill-color: var(--color-bg);
}
@media screen and (max-width: 420px) {
  div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7 div.styles_newsWrapper__3hmjW div.styles_title__24Ef9 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 900px) {
  div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7 div.styles_newsWrapper__3hmjW div.styles_title__24Ef9 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7 div.styles_newsWrapper__3hmjW div.styles_title__24Ef9 {
    -webkit-text-stroke: 1px var(--color-text);
    font-weight: 500;
  }
}
div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7:nth-child(even) div.styles_newsWrapper__3hmjW div.styles_title__24Ef9 {
  font-size: calc(
    1rem + 1 * ((100vw - 420px) / 480)
  );
  font-weight: 700;
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: #ff644e;
}
@media screen and (max-width: 420px) {
  div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7:nth-child(even) div.styles_newsWrapper__3hmjW div.styles_title__24Ef9 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 900px) {
  div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7:nth-child(even) div.styles_newsWrapper__3hmjW div.styles_title__24Ef9 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7:nth-child(even) div.styles_newsWrapper__3hmjW div.styles_title__24Ef9 {
    font-weight: 500;
  }
}
div.kz-ticker-list div.styles_ticker__8iZE9 a.styles_newsticker__2xlP7::after {
  display: none;
}
div.kz-ticker-list div.styles_ticker__8iZE9 div.styles_ticker-list__1YeNe {
  animation-duration: var(--animation-duration);
  animation-delay: var(--animation-delay);
  animation-direction: var(--animation-direction);
}

/*# sourceMappingURL=ValuesTicker.css.map */
