$background-alt: #fafafa;
$background: #fff;
$primary: #ff644e;

$text: #202020;
$tertiary: #22d296;
$fontSize: 14px;

$border-primary: #f1f1f1;

$min-width: 420px;
$max-width: 900px;

$info: #58acf5;
$warning: #d8c07e;
