@import "../variables";

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.go-back{
  display: flex;
  position: absolute;
  align-items: center;
  left: 5rem;
  padding: 2rem 1.75rem;


  .icon{
    height: 1.5rem;
    width: 1.5rem;
  }  

  h2{
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
  }
}

.status-wrapper {
  display: flex;
  gap: 2rem;
  align-self: center;
}

.status-wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main-accepted {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.main-accepted > div {
  width: 50%;
  height: 100%;
}

.wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.wrapper-text > h1 {
  font-size: 3rem;
  font-weight: 600;
}

.wrapper-text > p {
  font-size: 1rem;
  font-weight: 400;
}

.wrapper-text > h5 > a {
  color: #ec6d5e;
}

.wrapper-accepted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.wrapper-accepted > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.lottie {
  width: 50%;
  height: 50%;
}

.rejected-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 2rem;
  padding-left: 10rem;
}

.rejected-wrapper > h1 > span {
  color: #ec6d5e;
}

.draft-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  button {
    width: fit-content;
  }
}

.green-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6dd3a8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ec6d5e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #bababa;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: $primary;
  color: #fff;
  border-radius: 5px;
  padding: 12px 25px;
  font-family: "Caros", sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}

// Write css for mobile view
@media (max-width: 768px) {
  .lottie {
    width: 100%;
    height: 100%;
  }
  .go-back{
    left: 4rem;
  }
  .main-accepted {
    flex-direction: column;
    gap: 2rem;
  }

  .rejected-wrapper {
    padding: 1rem;
  }

  .main-accepted > div {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
  }

  .wrapper-text > h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .wrapper-text > p {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
