@import "../variables";

div.kz-explore {
  padding-left: 5rem;
  margin: 1rem;
  .glance{
    margin: 0rem 1rem 1rem;
  }
  .container{
    display: flex;
    flex-direction: row;
  }

  .main {
    width: 80%;
    padding: 2rem;

    h2 {
      margin: 1rem 0;

      span {
        color: $primary;
      }
    }

    h3 {
      font-size: 1.5rem;
    }

    .mt {
      margin-top: 2rem;
    }

    .mb {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  div.kz-explore {
    padding-left: 4rem;

    .glance{
      margin-bottom: 4rem;
    }

    .container{
      display: flex;
      flex-direction: column;
    }

    .main {
      width: 100%;
      padding: 0 1rem 0 0;

      h2 {
        margin: 1rem 0;

        span {
          color: $primary;
        }
      }

      h3 {
        font-size: 1.5rem;
      }

      .mt {
        margin-top: 2rem;
      }

      .mb {
        margin-bottom: 1rem;
      }
    }
  }
}
