@import "../variables";
@import "../mixins";

.kz-form-closed {
  margin: auto auto;
  text-align: center;

  h1 {
    color: var(--color-header);

    @include for-mobile-only {
      margin-bottom: 1rem;
    }

    @include fluid-type(1rem, 3rem, $min-width, $max-width);
    margin-bottom: 2rem;
  }

  .home-icon {
    position: absolute;
    left: 16px;
    top: 16px;
  }
}
