@import "../variables";
@import "../mixins";

.kz-privacy {
  @include PrimaryContainer;

  .container {
    @include ContainerPadding;
    min-height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    @include ContainerPadding;

    h5 {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    .section {
      margin: 1.5rem 0;
      line-height: 1.5;
      h2 {
        margin-bottom: 0.5rem;
        color: $primary;
      }

      p {
        line-height: 180%;

        a {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }
}
