@import "../variables";
@import "../mixins";

div.kz-project-module {
  padding-bottom: 2rem;

  .left {
    display: flex;
    flex-direction: column;
    max-height: 100vh;

    .instructions-box {
      flex-grow: 1;
      overflow-y: scroll;
      background-color: var(--color-bg-alt);
      border-radius: 0.5rem;
      padding: 1rem;
      min-height: 10rem;

      @include CustomScrollBar;

      @include for-mobile-only {
        padding: 0.5rem 0;
        min-height: 12rem;
      }

      @include for-tablet-only {
        min-height: 12rem;
      }
    }

    .margin-bt {
      margin-bottom: 2rem;
    }

    .button-bar {
      margin: 2rem 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      @include for-mobile-only {
        margin: 1rem 0;
      }
    }
  }

  .kz-project-flex {
    display: flex;
    height: 100%;
    @include for-mobile-only {
      flex-direction: column;
    }
  }

  .todo {
    padding: 2rem;

    @include for-mobile-only {
      padding: 1rem;
      margin-bottom: 2rem;
    }

    @include for-tablet-only {
      padding: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .main {
    padding: 2rem;
    flex-basis: 50%;

    @include for-mobile-only {
      padding: 1rem;
    }

    @include for-tablet-only {
      padding: 1.5rem;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }

    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      @include for-mobile-only {
        margin-bottom: 1rem;
      }

      h2 {
        @include fluid-type(1.5rem, 3rem, $min-width, $max-width);
      }

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: var(--color-bg-alt);

        @include for-mobile-only {
          padding: 0.5rem;
        }

        svg {
          cursor: pointer;
          fill: var(--color-text-alt);
          transition: 0.2s ease-in-out all;

          &:hover {
            fill: var(--color-text);
          }

          &.active {
            fill: $primary;
            transform: rotate(30deg);
          }
        }
      }
    }

    h2 {
      margin: 1rem 0;

      span {
        color: $primary;
      }
    }

    .mt {
      margin-top: 2rem;
    }

    .mb {
      margin-bottom: 1rem;
    }
  }

  .settings {
    background-color: var(--color-bg-alt);
    height: calc(100vh - 4rem);
    border-radius: 1rem;
    padding: 2rem;

    sub, sup {
      color: $primary;
    }

    button {
      cursor: pointer;
      border: none;
      outline: none;
      background-color: $primary;
      color: #fff;
      border-radius: 5px;
      padding: 12px 25px;
      font-family: "Caros", sans-serif;
      font-weight: 500;
      margin: 1rem 0;
      width: 7rem;
    }

    @include for-mobile-only {
      padding: 1rem;
      height: fit-content;
    }

    @include for-tablet-only {
      padding: 1.5rem;
    }

    h3 {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
          margin-right: 0.5rem;
        }
      }

      svg {
        fill: $primary;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }

    div.field {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1.5rem;

      input,
      textarea,
      option,
      select {
        border: none;
        width: 100%;
        padding: 1rem;
        color: var(--color-input-alt);
        background-color: var(--color-bg);
        font-family: "Caros", "Courier New", Courier, monospace;

        border-radius: 0.5rem;
        outline: none;

        &::placeholder {
          color: var(--color-skeleton);
        }
      }

      label {
        display: block;
        margin-bottom: 0.5rem;
      }

      p {
        margin-top: 0.4rem;
      }

      &.danger {
        label {
          color: $primary;
        }

        svg {
          margin: 0 0.5rem;
          cursor: pointer;
          fill: $primary;
        }
      }

      .delete {
        color: var(--color-dark);
        background-color: var(--color-input-alt);
        display: flex;
        border-radius: 0.5rem;
        align-items: center;
        margin-bottom: 2rem;

        input {
          width: initial;
          color: $primary;
          flex-grow: 1;

          &::placeholder {
            color: var(--color-placeholder);
          }
        }
      }

      .repo {
        color: var(--color-dark);
        background-color: var(--color-input-alt);
        display: flex;
        border-radius: 0.5rem;
        align-items: center;

        @include for-mobile-only {
          overflow-x: scroll;
        }

        span {
          display: inline-block;
          font-size: 0.8rem;
          font-weight: 300;
        }

        img {
          width: 2rem;
          height: 2rem;
          margin: 0 0.5rem;
          border-radius: 1rem;
        }

        &.link {
          padding: 0 1rem;
        }

        input {
          width: initial;
          padding-left: 0.2rem;
          color: $primary;
          flex-grow: 1;

          &::placeholder {
            color: var(--color-placeholder);
          }

          &.tertiary {
            color: $tertiary;
            font-weight: bold;
          }
        }

        svg {
          margin: 0 0.5rem;
          fill: $primary;

          &.spin {
            -webkit-animation: spin 1s linear infinite;
            -moz-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
          }

          &.tertiary {
            fill: $tertiary;
          }
        }
      }
    }
  }
}

div.block-screen {
  height: 90vh;

  @include for-mobile-only {
    width: 100%;
  }

  @include for-tablet-only {
    width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 90vh;
    @include for-mobile-only {
      width: 100%;
    }

    @include for-tablet-only {
      width: 100%;
    }

    div.content {
      @include for-mobile-only {
        margin-left: 2rem;
        width: 80%;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      flex-direction: column;
      bottom: 1rem;

      svg {
        width: 50% !important;

        @include for-mobile-only {
          width: 100% !important;
        }

        @include for-tablet-only {
          width: 100% !important;
        }
      }

      @include for-mobile-only {
        width: 100%;
      }

      @include for-tablet-only {
        width: 100%;
      }

      h3 {
        font-size: 1.8rem;
        margin-bottom: 0.2rem;

        span {
          color: $primary;
        }
      }

      p {
        color: var(--color-text-alt);
        margin-bottom: 1rem;
      }

      ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          margin: 0 2rem;

          @include for-mobile-only {
            margin: 0 1rem;
          }

          &::before {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border: 1px solid var(--color-text-alt);
            border-radius: 50%;
            margin-bottom: 0.5rem;
          }
        }

        li.tertiary {
          &::before {
            background-color: $tertiary;
            border-color: $tertiary;
          }
        }

        li.primary {
          &::before {
            background-color: $primary;
            border-color: $primary;
          }
        }
      }
    }

    &.accepted {
      svg {
        width: 20vw !important;
        max-width: 20rem;
      }
    }
  }
}

.accepted-screen {
  label {
    margin-top: 1rem;
    display: block;
  }

  .accepted-right {
    display: flex;
    align-items: center;
  }

  .join-discord {
    color: $primary;
    cursor: pointer;
  }

  button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: $primary;
    color: #fff;
    border-radius: 5px;
    padding: 12px 25px;
    font-family: "Caros", sans-serif;
    font-weight: 500;
    margin-top: 2rem;
  }

  small {
    margin-top: 5px;
  }

  .meeting {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--color-bg-alt);
    h3 {
      color: $primary;
    }

    & > div.rsvp {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      h4 {
        color: $primary;
        margin-bottom: 0.5rem;
      }

      & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.25rem;

        &:last-child {
          margin-bottom: 0;
        }
        h6 {
          font-size: 0.9rem;
          font-weight: 400;
        }

        p {
          margin-left: 1em;
          font-size: 0.7rem;
          font-weight: 300;

          &.primary {
            color: $primary;
          }

          &.info {
            color: $info;
          }

          &.tertiary {
            color: $tertiary;
          }

          &.warning {
            color: $warning;
          }
        }
      }
    }

    & > div.cta {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      img {
        height: 3rem;
      }
      button {
        margin-top: 0;
        margin-left: 0.5rem;
        background-color: #1d9083;
      }
    }
    .caption {
      margin-top: 0.8rem;
      color: var(--color-placeholder);
      font-size: 0.6rem;
    }
  }

  .row {
    margin: 0 -8px !important;
  }

  select {
    margin-top: 1rem;
    border: none;
    width: 100%;
    padding: 1rem;
    color: var(--color-input-alt);
    background-color: var(--color-bg-alt);
    width: 100%;
    font-family: "Caros", "Courier New", Courier, monospace;

    border-radius: 0.5rem;
    outline: none;

    &::placeholder {
      color: var(--color-text);
    }
  }
}
