div.kz-dashboard {
  padding-left: 5rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-dashboard {
    padding-left: 3rem;
  }
}
div.kz-dashboard .main {
  width: 80%;
  padding: 2rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-dashboard .main {
    padding: 2rem 1rem;
  }
}
div.kz-dashboard .main div.kz-timer {
  padding: 1rem 0;
  width: 100%;
  background-color: var(--color-bg-alt);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-dashboard .main div.kz-timer {
    margin: 0.5rem auto;
  }
}
@media (max-width: 720px) {
  div.kz-dashboard .main div.kz-timer {
    margin: 0.75rem auto;
  }
}
div.kz-dashboard .main div.kz-timer div.timer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.kz-dashboard .main div.kz-timer div.timer-inner h4 {
  margin: 0.25rem auto;
  display: inline-block;
  font-size: calc(
    0.75rem + 0.25 * ((100vw - 420px) / 480)
  );
}
@media screen and (max-width: 420px) {
  div.kz-dashboard .main div.kz-timer div.timer-inner h4 {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 900px) {
  div.kz-dashboard .main div.kz-timer div.timer-inner h4 {
    font-size: 1rem;
  }
}
div.kz-dashboard .main div.kz-timer div.timer-inner h4 svg {
  vertical-align: bottom;
  color: #ff644e;
  width: 1.5rem;
  height: 1.5rem;
  animation: alarmBuzz 0.8s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes alarmBuzz {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-2deg);
  }
  20% {
    -webkit-transform: rotate(2deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(2deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
  }
}
div.kz-dashboard .main div.kz-timer div.timer-inner div.timer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0.75rem auto;
}
div.kz-dashboard .main div.kz-timer div.timer-inner div.timer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.kz-dashboard .main div.kz-timer div.timer-inner div.timer > div h5 {
  width: 3rem;
  height: 3rem;
  color: var(--color-text);
  margin: auto 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
div.kz-dashboard .main div.kz-timer div.timer-inner div.timer > div small {
  margin: 0.25rem auto 0 auto;
  color: #ff644e;
  font-weight: 700;
}
div.kz-dashboard .main .banner {
  width: 100%;
}
div.kz-dashboard .main .banner figure {
  border-radius: 1rem;
  overflow: hidden;
  height: 220px;
}
div.kz-dashboard .main .banner figure img {
  width: 100%;
  border-radius: 1rem;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-dashboard .main .banner figure img {
    transform: scale(2) translateY(20px);
  }
}
div.kz-dashboard .main h2 {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.kz-dashboard .main h2 .new {
  color: var(--color-text-alt);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
div.kz-dashboard .main h2 .new::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  border: 1px dashed var(--color-text-alt);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}
div.kz-dashboard .main .mt {
  margin-top: 2rem;
}
div.kz-dashboard .main .empty {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.kz-dashboard .main .empty svg {
  height: 12rem;
  max-width: 80%;
  width: auto;
}
div.kz-dashboard .main .empty h3 {
  margin: 2rem 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
div.kz-dashboard .main .empty h3 span.primary {
  color: #ff644e;
}
div.kz-dashboard .main .empty h3 span.strike {
  position: relative;
}
div.kz-dashboard .main .empty h3 span.strike::before {
  position: absolute;
  top: 50%;
  content: "";
  display: inline-block;
  left: -2px;
  height: 4px;
  right: -2px;
  background-color: #ff644e;
}
div.kz-dashboard .main .empty h5 {
  font-weight: 400;
  font-size: 1.2rem;
}
div.kz-dashboard .main .empty h5 a {
  color: #ff644e;
  font-weight: 500;
  padding-bottom: 2px;
  border-bottom: 1px dashed #ff644e;
}
div.kz-dashboard .main .notif-row {
  padding: 1rem;
}
div.kz-dashboard .main .kz-notifications {
  height: 25rem;
  overflow-y: scroll;
  background-color: var(--color-bg-alt);
  border-radius: 1rem;
  padding: 0;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.2);
}
div.kz-dashboard .main .kz-notifications .empty {
  text-align: center;
  padding: 1rem;
}
div.kz-dashboard .main .kz-notifications .empty img {
  height: 8rem;
}
div.kz-dashboard .main .kz-notifications .empty h2 {
  font-size: 1.5rem;
}
div.kz-dashboard .main .kz-notifications::-webkit-scrollbar {
  width: 0.2rem;
  height: 1rem;
}
div.kz-dashboard .main .kz-notifications::-webkit-scrollbar-track {
  margin: 0;
  margin-right: 0.5rem;
}
div.kz-dashboard .main .kz-notifications::-webkit-scrollbar-thumb {
  background-color: var(--color-text-alt);
  border-radius: 0.1rem;
}
div.kz-dashboard .main .kz-notifications::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  .main-wrapper {
    flex-direction: column-reverse;
  }
  .main-wrapper .main {
    width: 100% !important;
  }
  .glance {
    padding: 1rem;
  }
}

/*# sourceMappingURL=Dashboard.css.map */
