@import "../variables";
div.kz-explore {
  padding-left: 5rem;

  .main {
    width: 80%;
    padding: 2rem;

    h2 {
      margin: 1rem 0;

      span {
        color: $primary;
      }
    }

    h3 {
      font-size: 1.5rem;
    }

    .mt {
      margin-top: 2rem;
    }
    .mb {
      margin-bottom: 1rem;
    }
  }
}
