div.kz-home .hero {
  min-height: 100vh;
  position: relative;
  padding-top: 2rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .hero {
    margin-top: 4rem;
  }
}
div.kz-home .hero .content {
  max-width: 1200px;
  padding: 0 4rem;
  margin: 4rem 0;
  width: 60%;
}
@media (max-width: 720px) {
  div.kz-home .hero .content {
    padding: inherit auto;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .hero .content {
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .hero .content {
    margin: 2rem 0;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .hero .content {
    width: 100%;
  }
}
div.kz-home .hero .content h1 {
  font-size: calc(
    2rem + 1.5 * ((100vw - 420px) / 480)
  );
}
@media screen and (max-width: 420px) {
  div.kz-home .hero .content h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 900px) {
  div.kz-home .hero .content h1 {
    font-size: 3.5rem;
  }
}
div.kz-home .hero .content h3 {
  margin: 1rem 0;
  font-weight: 400;
  color: var(--color-text-alt);
}
div.kz-home .hero .content .cta {
  display: flex;
  align-items: center;
}
div.kz-home .hero .content .cta a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
div.kz-home .hero .content .cta a span {
  color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: var(--color-primary);
  margin-right: 1rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .hero figure {
    padding: 0 2rem;
  }
}
div.kz-home .hero img.cover {
  width: 60vw;
  max-height: 70vh;
  position: absolute;
  right: 0vh;
  bottom: 0vh;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .hero img.cover {
    position: relative;
    margin: 0 auto;
    width: 100%;
    right: 0;
  }
}
div.kz-home .memo {
  margin: 4rem 0;
  max-width: 1200px;
  padding: 0 4rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .memo {
    margin: 2rem 0;
  }
}
@media (max-width: 720px) {
  div.kz-home .memo {
    padding: inherit auto;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .memo {
    padding: 0 1rem;
  }
}
div.kz-home .memo h3 {
  font-size: 3rem;
}
div.kz-home .memo p {
  margin-top: 2rem;
  font-family: "Nanum Pen Script", cursive;
  color: var(color-text-alt);
  font-size: 2rem;
}
div.kz-home .memo p span {
  color: #ff644e;
}
div.kz-home .life {
  margin: 0 auto !important;
  max-width: 1200px;
  padding: 0 4rem;
}
@media (max-width: 720px) {
  div.kz-home .life {
    padding: inherit auto;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .life {
    padding: 0 1rem;
  }
}
div.kz-home .life p {
  font-size: 16px;
  line-height: 2rem;
}
div.kz-home .life p span {
  color: #ff644e;
}
div.kz-home .life .showcase {
  margin: 4rem 0;
  position: relative;
  min-height: 50vh;
  max-height: 800px;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .life .showcase {
    margin: 2rem 0;
  }
}
div.kz-home .life .showcase .embed {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 444;
  overflow: hidden;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .life .showcase .embed {
    width: 100%;
  }
}
div.kz-home .life .showcase .embed iframe {
  width: 100%;
  height: 50vh;
  max-height: 300px;
  border-radius: 1rem;
}
div.kz-home .life .showcase .fade {
  position: absolute;
}
div.kz-home .life .showcase .fade.top-left {
  top: 1rem;
  left: 0.5rem;
  transform: scale(0.8);
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .life .showcase .fade.top-left {
    width: 50%;
    top: 2rem;
    left: 0;
    transform: scale(0.9);
  }
}
div.kz-home .life .showcase .fade.top-right {
  top: 3rem;
  right: 7rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .life .showcase .fade.top-right {
    width: 50%;
    right: 0;
  }
}
div.kz-home .life .showcase .fade.bottom-left {
  bottom: 2rem;
  left: 4rem;
  transform: scale(1.1);
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .life .showcase .fade.bottom-left {
    left: 0;
    width: 50%;
    bottom: 3rem;
    transform: scale(0.9);
  }
}
div.kz-home .life .showcase .fade.bottom-right {
  bottom: 4rem;
  right: 0rem;
  transform: scale(0.8);
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .life .showcase .fade.bottom-right {
    bottom: 3rem;
    right: 0;
    width: 50%;
    transform: scale(1);
  }
}
div.kz-home .life .showcase .fade img {
  width: 24vw;
  border-radius: 0.5rem;
}
div.kz-home .steps {
  margin: 4rem 0;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .steps {
    margin: 2rem 0;
  }
}
div.kz-home .steps .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;
}
div.kz-home .steps .container-fluid {
  padding-top: 2rem;
}
div.kz-home .steps .step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 720px) {
  div.kz-home .steps .step {
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .steps .step {
    margin: 2rem 0;
  }
}
div.kz-home .steps .step span {
  background-color: var(--color-primary);
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
  border-radius: 50%;
  color: #ffffff;
}
div.kz-home .steps .step h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
div.kz-home .steps .lanyard {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.kz-home .steps .lanyard img {
  width: 80%;
  height: auto;
}
div.kz-home .steps,
div.kz-home .how {
  margin: 4rem auto !important;
  max-width: 1200px;
  padding: 0 4rem;
  margin: 4rem 0;
  text-align: center;
}
@media (max-width: 720px) {
  div.kz-home .steps,
  div.kz-home .how {
    padding: inherit auto;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .steps,
  div.kz-home .how {
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .steps,
  div.kz-home .how {
    margin: 2rem 0;
  }
}
div.kz-home .values {
  margin: 4rem 0;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .values {
    margin: 2rem 0;
  }
}
div.kz-home .values .container-fluid {
  overflow-x: hidden;
}
div.kz-home .values div.description {
  max-width: 1200px;
  padding: 0 4rem;
  font-size: 16px;
}
@media (max-width: 720px) {
  div.kz-home .values div.description {
    padding: inherit auto;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .values div.description {
    padding: 0 1rem;
  }
}
div.kz-home .values div.description h2,
div.kz-home .values div.description p {
  margin: 0 8rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-home .values div.description h2,
  div.kz-home .values div.description p {
    margin: 0 2rem;
    text-align: center;
  }
}
div.kz-home .values div.description h2 {
  margin-bottom: 1rem;
}
div.kz-home .values div.description p {
  margin-bottom: 1rem;
}
div.kz-home .values div.description p span {
  color: #ff644e;
}
div.kz-home .carousel {
  position: relative;
  margin: 0 auto !important;
}
div.kz-home .carousel .arrow {
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-alt);
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
div.kz-home .carousel .arrow.left {
  left: 1rem;
}
div.kz-home .carousel .arrow.right {
  right: 1rem;
}
div.kz-home .carousel img {
  width: 90%;
  height: auto;
  border-radius: 0.5rem;
}

#life-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}
#life-grid .column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}
#life-grid .column img,
#life-grid .column div {
  margin-top: 8px;
  vertical-align: middle;
  width: 100% !important;
  height: auto !important;
}
@media screen and (max-width: 800px) {
  #life-grid .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  #life-grid .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*# sourceMappingURL=Home.css.map */
