div.kz-project-module {
  padding-left: 5rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-project-module {
    padding-left: 3rem;
  }
}
div.kz-project-module .left {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
div.kz-project-module .left .instructions-box {
  flex-grow: 1;
  overflow-y: scroll;
  background-color: var(--color-bg-alt);
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 10rem;
  margin-bottom: 2rem;
}
div.kz-project-module .left .instructions-box::-webkit-scrollbar {
  width: 0.2rem;
  height: 1rem;
}
div.kz-project-module .left .instructions-box::-webkit-scrollbar-track {
  margin: 0;
  margin-right: 0.5rem;
}
div.kz-project-module .left .instructions-box::-webkit-scrollbar-thumb {
  background-color: var(--color-text-alt);
  border-radius: 0.1rem;
}
div.kz-project-module .left .instructions-box::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-project-module .left .instructions-box {
    padding: 0.5rem 0;
    min-height: 12rem;
  }
}
@media (max-width: 720px) {
  div.kz-project-module .left .instructions-box {
    min-height: 12rem;
  }
}
div.kz-project-module .left .button-bar {
  margin: 2rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-project-module .left .button-bar {
    margin: 1rem 0;
  }
}
div.kz-project-module .todo {
  padding: 2rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-project-module .todo {
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 720px) {
  div.kz-project-module .todo {
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
}
div.kz-project-module .main {
  padding: 2rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-project-module .main {
    padding: 1rem;
  }
}
@media (max-width: 720px) {
  div.kz-project-module .main {
    padding: 1.5rem;
  }
}
div.kz-project-module .main h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
div.kz-project-module .main svg {
  width: 1.4rem;
  height: 1.4rem;
}
div.kz-project-module .main .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-project-module .main .heading {
    margin-bottom: 1rem;
  }
}
div.kz-project-module .main .heading h2 {
  font-size: calc(
    1.5rem + 1.5 * ((100vw - 420px) / 480)
  );
}
@media screen and (max-width: 420px) {
  div.kz-project-module .main .heading h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 900px) {
  div.kz-project-module .main .heading h2 {
    font-size: 3rem;
  }
}
div.kz-project-module .main .heading > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--color-bg-alt);
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-project-module .main .heading > div {
    padding: 0.5rem;
  }
}
div.kz-project-module .main .heading > div svg {
  cursor: pointer;
  fill: var(--color-text-alt);
  transition: 0.2s ease-in-out all;
}
div.kz-project-module .main .heading > div svg:hover {
  fill: var(--color-text);
}
div.kz-project-module .main .heading > div svg.active {
  fill: #ff644e;
  transform: rotate(30deg);
}
div.kz-project-module .main h2 {
  margin: 1rem 0;
}
div.kz-project-module .main h2 span {
  color: #ff644e;
}
div.kz-project-module .main .mt {
  margin-top: 2rem;
}
div.kz-project-module .main .mb {
  margin-bottom: 1rem;
}
div.kz-project-module .settings {
  background-color: var(--color-bg-alt);
  height: calc(100vh - 4rem);
  border-radius: 1rem;
  padding: 2rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-project-module .settings {
    padding: 1rem;
  }
}
@media (max-width: 720px) {
  div.kz-project-module .settings {
    padding: 1.5rem;
  }
}
div.kz-project-module .settings h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.kz-project-module .settings h3 span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.kz-project-module .settings h3 span svg {
  margin-right: 0.5rem;
}
div.kz-project-module .settings h3 svg {
  fill: #ff644e;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
div.kz-project-module .settings .settings-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
div.kz-project-module .settings div.field {
  margin-top: 1.5rem;
}
div.kz-project-module .settings div.field input,
div.kz-project-module .settings div.field textarea,
div.kz-project-module .settings div.field option,
div.kz-project-module .settings div.field select {
  border: none;
  width: 100%;
  padding: 1rem;
  color: var(--color-dark);
  background-color: var(--color-input-alt);
  font-family: "Caros", "Courier New", Courier, monospace;
  border-radius: 0.5rem;
  outline: none;
}
div.kz-project-module .settings div.field input::placeholder,
div.kz-project-module .settings div.field textarea::placeholder,
div.kz-project-module .settings div.field option::placeholder,
div.kz-project-module .settings div.field select::placeholder {
  color: var(--color-skeleton);
}
div.kz-project-module .settings div.field label {
  display: block;
  margin-bottom: 0.5rem;
}
div.kz-project-module .settings div.field p {
  margin-top: 0.4rem;
}
div.kz-project-module .settings div.field.danger label {
  color: #ff644e;
}
div.kz-project-module .settings div.field.danger svg {
  margin: 0 0.5rem;
  cursor: pointer;
  fill: #ff644e;
}
div.kz-project-module .settings div.field .delete {
  color: var(--color-dark);
  background-color: var(--color-input-alt);
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}
div.kz-project-module .settings div.field .delete input {
  width: initial;
  color: #ff644e;
  flex-grow: 1;
}
div.kz-project-module .settings div.field .delete input::placeholder {
  color: var(--color-placeholder);
}
div.kz-project-module .settings div.field .repo {
  color: var(--color-dark);
  background-color: var(--color-input-alt);
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.kz-project-module .settings div.field .repo {
    overflow-x: scroll;
  }
}
div.kz-project-module .settings div.field .repo span {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
}
div.kz-project-module .settings div.field .repo img {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 1rem;
}
div.kz-project-module .settings div.field .repo.link {
  padding: 0 1rem;
}
div.kz-project-module .settings div.field .repo input {
  width: initial;
  padding-left: 0.2rem;
  color: #ff644e;
  flex-grow: 1;
}
div.kz-project-module .settings div.field .repo input::placeholder {
  color: var(--color-placeholder);
}
div.kz-project-module .settings div.field .repo input.tertiary {
  color: #22d296;
  font-weight: bold;
}
div.kz-project-module .settings div.field .repo svg {
  margin: 0 0.5rem;
  fill: #ff644e;
}
div.kz-project-module .settings div.field .repo svg.spin {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
div.kz-project-module .settings div.field .repo svg.tertiary {
  fill: #22d296;
}

div.block-screen {
  height: 90vh;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.block-screen {
    width: 100%;
  }
}
@media (max-width: 720px) {
  div.block-screen {
    width: 100%;
  }
}
div.block-screen .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 90vh;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.block-screen .main {
    width: 100%;
  }
}
@media (max-width: 720px) {
  div.block-screen .main {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.block-screen .main div.content {
    margin-left: 2rem;
    width: 80%;
  }
}
div.block-screen .main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  bottom: 1rem;
}
div.block-screen .main > div svg {
  width: 50% !important;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.block-screen .main > div svg {
    width: 100% !important;
  }
}
@media (max-width: 720px) {
  div.block-screen .main > div svg {
    width: 100% !important;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.block-screen .main > div {
    width: 100%;
  }
}
@media (max-width: 720px) {
  div.block-screen .main > div {
    width: 100%;
  }
}
div.block-screen .main > div h3 {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
}
div.block-screen .main > div h3 span {
  color: #ff644e;
}
div.block-screen .main > div p {
  color: var(--color-text-alt);
  margin-bottom: 1rem;
}
div.block-screen .main > div ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
div.block-screen .main > div ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 2rem;
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  div.block-screen .main > div ul li {
    margin: 0 1rem;
  }
}
div.block-screen .main > div ul li::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-text-alt);
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
div.block-screen .main > div ul li.tertiary::before {
  background-color: #22d296;
  border-color: #22d296;
}
div.block-screen .main > div ul li.primary::before {
  background-color: #ff644e;
  border-color: #ff644e;
}
div.block-screen .main.accepted svg {
  width: 20vw !important;
  max-width: 20rem;
}

.accepted-screen label {
  margin-top: 1rem;
  display: block;
}
.accepted-screen .accepted-right {
  display: flex;
  align-items: center;
}
.accepted-screen .join-discord {
  color: #ff644e;
  cursor: pointer;
}
.accepted-screen button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ff644e;
  color: #fff;
  border-radius: 5px;
  padding: 12px 25px;
  font-family: "Caros", sans-serif;
  font-weight: 500;
  margin-top: 2rem;
}
.accepted-screen small {
  margin-top: 5px;
}
.accepted-screen .meeting {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--color-bg-alt);
}
.accepted-screen .meeting h3 {
  color: #ff644e;
}
.accepted-screen .meeting > div.rsvp {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.accepted-screen .meeting > div.rsvp h4 {
  color: #ff644e;
  margin-bottom: 0.5rem;
}
.accepted-screen .meeting > div.rsvp > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.accepted-screen .meeting > div.rsvp > div:last-child {
  margin-bottom: 0;
}
.accepted-screen .meeting > div.rsvp > div h6 {
  font-size: 0.9rem;
  font-weight: 400;
}
.accepted-screen .meeting > div.rsvp > div p {
  margin-left: 1em;
  font-size: 0.7rem;
  font-weight: 300;
}
.accepted-screen .meeting > div.rsvp > div p.primary {
  color: #ff644e;
}
.accepted-screen .meeting > div.rsvp > div p.info {
  color: #58acf5;
}
.accepted-screen .meeting > div.rsvp > div p.tertiary {
  color: #22d296;
}
.accepted-screen .meeting > div.rsvp > div p.warning {
  color: #d8c07e;
}
.accepted-screen .meeting > div.cta {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.accepted-screen .meeting > div.cta img {
  height: 3rem;
}
.accepted-screen .meeting > div.cta button {
  margin-top: 0;
  margin-left: 0.5rem;
  background-color: #1d9083;
}
.accepted-screen .meeting .caption {
  margin-top: 0.8rem;
  color: var(--color-placeholder);
  font-size: 0.6rem;
}
.accepted-screen .row {
  margin: 0 -8px !important;
}
.accepted-screen select {
  margin-top: 1rem;
  border: none;
  width: 100%;
  padding: 1rem;
  color: var(--color-input-alt);
  background-color: var(--color-bg-alt);
  width: 100%;
  font-family: "Caros", "Courier New", Courier, monospace;
  border-radius: 0.5rem;
  outline: none;
}
.accepted-screen select::placeholder {
  color: var(--color-text);
}

/*# sourceMappingURL=Project.css.map */
