@import "../mixins";

.css-yk16xz-control {
  border-color: var(--color-bg) !important;
  color: var(--color-bg) !important;
}

.css-b8ldur-Input {
  color: var(--color-text) !important;
}

.css-b8ldur-Input input {
  color: var(--color-text) !important;
  ::placeholder {
    color: var(--color-text) !important;
  }
}

.custom-select {
  color: var(--color-text) !important;
}

.kz-form {
  .submission-heading {
    h1 {
      margin-bottom: 0 !important;
    }

    h4 {
      margin: 0 !important;
      margin-bottom: 2rem !important;
      width: 60% !important;
      span {
        color: $primary !important;
      }
      @include for-mobile-only {
        width: 100% !important;
      }
    }
  }

  .checkbox {
    display: flex;

    input {
      width: auto;
      margin-right: 0.5rem;
      height: 1rem;
      width: 1rem;
      margin-top: 0;
      cursor: pointer;
    }
  }
}
