@import "../../mixins";
div.kz-footer-compact {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--color-text-alt);
  padding: 1rem 0;
  padding-top: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  pointer-events: none;

  p {
    text-align: center;
  }

  @include for-mobile-only {
    padding: 1rem 4rem;
    display: none;
  }

  img {
    width: 1rem;
    margin: 0 0.3rem;
    transform: translateY(-16%);
  }
}
