@import "../../mixins";
@import "../../variables";
@import "../../fonts";

div.kz-ticker-list {
  position: relative;
  width: 100%;
  pointer-events: none;

  div.styles_ticker__8iZE9 {
    background-color: var(--color-bg);

    a.styles_newsticker__2xlP7 {
      color: var(--color-text);

      div.styles_newsWrapper__3hmjW {
        div.styles_title__24Ef9 {
          @include fluid-type(1rem, 2rem, $min-width, $max-width);
          font-weight: 700;
          -webkit-text-stroke: 1px var(--color-text);
          -webkit-text-fill-color: var(--color-bg);

          @include for-mobile-only {
            -webkit-text-stroke: 1px var(--color-text);
            font-weight: 500;
          }
        }
      }

      &:nth-child(even) {
        div.styles_newsWrapper__3hmjW {
          div.styles_title__24Ef9 {
            @include fluid-type(1rem, 2rem, $min-width, $max-width);
            font-weight: 700;
            -webkit-text-stroke: 0px;
            -webkit-text-fill-color: $primary;

            @include for-mobile-only {
              font-weight: 500;
            }
          }
        }
      }

      &::after {
        display: none;
      }
    }

    div.styles_ticker-list__1YeNe {
      animation-duration: var(--animation-duration);
      animation-delay: var(--animation-delay);
      animation-direction: var(--animation-direction);
    }
  }
}