@import "../mixins";
@import "../variables";

.kz-form-field {
  margin-bottom: 2rem;
  gap: 0.5rem;

  div.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-bg-alt);
    border-radius: 5px;
    font-family: "Caros", "Courier New", Courier, monospace;

    input.readOnly {
      font-style: italic;
      opacity: 0.8;
    }

    svg {
      color: $primary;
      width: 1rem;
      height: 1rem;
      margin: auto 1rem;
    }
  }

  input,
  textarea {
    border: none;
    width: 100%;
    color: var(--color-text);
    background-color: var(--color-bg-alt);
    border-radius: 5px;
    font-family: "Caros", "Courier New", Courier, monospace;
    outline: none;
    flex-grow: 1;

    &::placeholder {
      color: var(--color-placeholder);
    }
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  textarea {
    height: 10rem;
    width: 100%;
    resize: none;
    padding: 1rem;
  }

  p {
    margin-top: 0.5rem;
    color: $primary;
  }

  .selectable-div {
    @include BoxShadow();
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    h3 {
      margin: 0;
    }

    h4 {
      width: 100% !important;
    }
  }

  .active {
    border-color: $primary;
  }

  .css-yk16xz-control {
    width: 80%;
    padding: 4px 0;
  }
}

.kz-selectable-div-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .kz-form-field {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .selectable-div {
      margin: 0 0 20px;
      width: 100%;
    }
  }

  .kz-user-form select {
    width: 90% !important;
  }

  .dropzone {
    width: 80%;
  }

  .kz-form-field div.inner {
    width: 90%;
  }
}

div.dropzone {
  position: relative;
  height: 6rem;
  border-radius: 0.3rem;
  background-color: var(--color-bg-alt);
  margin-top: 0.5rem;

  p {
    color: var(--color-placeholder);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .file-name {
    display: flex;
    color: var(--color-text);
    font-size: 1rem;

    &:nth-child(1) {
      cursor: pointer;
    }
  }
}
