@import "../variables";

.kz-headbar {
  padding: 0.2rem;
  padding-bottom: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  z-index: 1000;
  background-image: linear-gradient(
    to right,
    darken($primary, 20%),
    lighten($primary, 10%)
  );
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  text-align: center;
  a {
    padding-bottom: 2px;
    border-bottom: 1px dashed var(--color-text);
  }
}
