@import "../mixins";

div.kz-navbar {
  @include NavbarPadding;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;

  .logo {
    img {
      height: 3rem;
      width: auto;
    }
  }

  .nav {
    ul {
      list-style: none;
      display: flex;
      li {
        margin: 0 2rem;
        text-transform: lowercase;
      }
    }
  }

  .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
      display: flex;
      & > div {
        &:last-child {
          padding: 0.2rem 0;
        }
      }
      svg {
        width: 2rem;
        height: 2rem;
        margin: auto 1rem;
        vertical-align: bottom;
      }
    }
    a {
      display: inline-block;
      &.border {
        padding: 0.5rem 1rem;
        border: 1px var(--color-text) solid;
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1.5rem;
      cursor: pointer;
    }
  }
}
