@import "../variables";
@import "../mixins";
.kz-notification {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px rgba(var(--color-text-alt-rgb), 0.5) solid;

  &:last-child {
    border-bottom: none;
  }

  svg {
    fill: $primary;
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 0.5rem;
  }

  & > div {
    display: flex;
    flex-direction: column;

    img {
      display: block;
      max-width: 100%;
      margin-bottom: 0.5rem;
      border-radius: 1rem;
    }

    time {
      font-size: 0.6rem;
      font-weight: 300;
      color: var(--color-text-alt);
      margin-bottom: 0.2rem;
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;

      span {
        color: $primary;
        font-weight: 500;
      }
    }
  }
}
