@import "../variables";

.kz-user-form {
  margin: 4rem;

  .grid-box {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 1rem;

    div {
      width: 25rem;
    }
  }

  input,
  textarea,
  select {
    border: none;
    width: 25rem;
    padding: 14px 20px;
    color: var(--color-text);
    background-color: var(--color-bg-alt);
    border-radius: 5px;
    font-family: "Caros", "Courier New", Courier, monospace;
    outline: none;

    &::placeholder {
      color: var(--color-placeholder);
    }
  }

  .drop-zone {
    color: #3b3e42;
    white-space: pre-wrap;
    padding: 2rem 5rem;
    background-color: var(--color-bg-alt);
    border-radius: 5px;
    font-family: "Caros", "Courier New", Courier, monospace;
  }

  .button-collection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  span,
  sup,
  sub {
    color: $primary;
  }

  p {
    margin-top: 0.5rem;
    color: $primary;
  }

  input[type="tel"] {
    width: 145%;
  }

  label {
    display: block;
    margin-bottom: 10px;
    padding-top: 30px;
  }

  h1 {
    color: var(--color-header);
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h3 {
    margin: 20px;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  h4 {
    display: inline-block;
    margin: 20px;
    width: 40%;
  }

  h5 {
    color: var(--color-input);
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 0 2rem 0;
  }

  button {
    cursor: pointer;
    border: none;
    outline-color: $primary;
    background-color: $primary;
    color: #fff;
    border-radius: 5px;
    padding: 12px 30px;
    font-family: "Caros", sans-serif;
    font-weight: 500;
    margin: 1.2rem 0;
  }

  .logout {
    border-color: $primary !important;
    border-radius: 5px !important;
    background-color: inherit;
    color: $primary;
  }

  .resume {
    margin-bottom: 2rem;
    color: #fff;
    .dropzone {
      height: 5rem;
      border-radius: 5px;
      padding: 0.75rem;
      text-align: center;
      cursor: pointer;
      background-color: var(--color-bg-alt) ;
      .text{
        color: var(--color-placeholder);
      }
    }
  }

  .intl-tel-input.allow-dropdown input,
  .intl-tel-input.allow-dropdown input[type="text"],
  .intl-tel-input.allow-dropdown input[type="tel"] {
    color: var(--color-text);
    background-color: var(--color-bg-alt);
  }
}

@media only screen and (max-width: 768px) {
  .kz-user-form {
    margin: 3rem 1rem;

    .grid-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 15rem;
      }
    }

    input,
    textarea,
    select {
      border: none;
      width: 15rem;
      padding: 14px 20px;
      color: var(--color-text);
      background-color: var(--color-bg-alt);
      border-radius: 5px;
      font-family: "Caros", "Courier New", Courier, monospace;
      outline: none;

      &::placeholder {
        color: var(--color-placeholder);
      }
    }
  }

 
  .dropzone {
    background-color: var(--color-bg-alt);
    border-radius: 5px;
    font-family: "Caros", "Courier New", Courier, monospace;
  }


  .intl-tel-input.allow-dropdown input,
  .intl-tel-input.allow-dropdown input[type="text"],
  .intl-tel-input.allow-dropdown input[type="tel"] {
    width: 120%;
  }

  .button-collection {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .select {
    margin-bottom: 2rem;
  }
}

.intl-tel-input {
  .country-list {
    background-color: var(--color-bg-alt);
    border-radius: 0.25rem;
  }
}
