@import "../variables";
@import "../mixins";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

@font-face {
  font-family: "Caros";
  src:
    url("../../../assets/fonts/CarosLight.woff2") format("woff2"),
    url("../../../assets/fonts/CarosLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src:
    url("../../../assets/fonts/CarosBold.woff2") format("woff2"),
    url("../../../assets/fonts/CarosBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src:
    url("../../../assets/fonts/CarosMedium.woff2") format("woff2"),
    url("../../../assets/fonts/CarosMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src:
    url("../../../assets/fonts/Caros.woff2") format("woff2"),
    url("../../../assets/fonts/Caros.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

div.kz-user {
  position: relative;
  text-align: left;
  margin-top: 2rem;
  @include MarginAutoX;
  padding: 2rem 4rem;
  color: var(--color-text);
  @include for-mobile-only {
    padding: 0 1rem;
    text-align: center;
  }

  h2 {
    @include fluid-type(2rem, 3rem, $min-width, $max-width);
    font-family: "Caros", sans-serif;
    font-weight: 700;
  }

  h5 {
    @include fluid-type(0.75rem, 1rem, $min-width, $max-width);
    font-family: "Caros", sans-serif;
    font-weight: 300;
  }
}
