@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body bg-kz-black text-white;
}

.btn {
  @apply font-bold rounded-lg md:text-lg mt-5 px-5 py-1.5 text-center;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dfdfdf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fd634e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fc4830;
}
